#totalDataCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: default;
}

#card_title {
  margin-bottom: 20px;
  color: rgb(152, 134, 255);
}

#last_updated {
  margin-top: 20px;
  color: rgb(0, 238, 155);
}

#confirmed_card,
#active_card,
#deaths_card,
#deaths_card,
#recovered_card {
  height: 16vh;
  padding: 15px 0px 0px;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px rgb(35, 19, 19);
}

#confirmed_card {
  background: #6a67ce;
}

#active_card {
  background: rgba(192, 2, 2, 0.205);
}

#deaths_card {
  background: rgb(255, 0, 0);
}

#recovered_card {
  background: rgba(0, 186, 40, 0.767);
}

#empty {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 15%;
  width: 100%;
}

#confirmed_card #empty {
  background: rgb(4, 0, 255);
}

#active_card #empty {
  background: rgb(255, 0, 0);
}

#recovered_card #empty {
  background: rgb(165, 255, 11);
}

#deaths_card #empty {
  background: rgb(128, 41, 0);
}

@media (min-width: 700px) {
  #confirmed_card,
  #active_card,
  #deaths_card,
  #deaths_card,
  #recovered_card {
    height: 20vh;
    font-size: 23px;
  }
}
